[Desktop Entry]
Type=Application

Name=spectro-cam-rs
Comment=A cross-platform gui for webcam based spectrometers
Categories=Education;Science;
Keywords=spectrometer;

Icon=de.der_fetzer.spectro-cam-rs
Exec=spectro-cam-rs
Terminal=false
